# Node
node_modules/
dist/

# Python
__pycache__/
*.pyc
.venv/
venv/
backend/venv/

# Environment variables
.env

# Temporary uploaded songs
backend/temp/
backend/uploads/

# VS Code
.vscode/

# Operating system
.DS_Store
Thumbs.db